/* CardGrid.css */

.card-grid {
  display: grid;
  grid-template-columns: 1fr;
  gap: 16px;
  border: 1px solid #f18509;
}

@media (min-width: 768px) {
  .card-grid {
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
  }
}

@media (min-width: 1024px) {
  .card-grid {
    grid-template-columns: repeat(3, 1fr);
  }
}
