.card-grid { /* photo grid container */
  display: grid;
  grid-template-columns: 1fr;   /* Mobile: 1 column */
  gap: var(--space-lg);
  max-width: 1200px;
  margin: 0 auto;
  border: 1px solid #f18509;
  padding: 5px; /* Add padding inside the grid container */
  box-shadow: 0 4px 8px rgba(4, 206, 241, 0.1);
  border-radius: 8px; /* Add border radius to the grid container */
}
@media (min-width: 768px) { /* Tablet */ 
  .card-grid {
    grid-template-columns: repeat(2, 1fr);
    border: 1px solid #1baab4;
  }
}
@media (min-width: 1024px) { /* Desktop */ 
  .card-grid {
    grid-template-columns: repeat(3, 1fr);
    border: 1px solid #37f37f;

  }
}
