.header { 
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 16px;
  padding: 16px;
  background-color: #333;
}
.header-inner {
  background-color: #fff;
  padding: 10px 0;
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 16px;
 }
.nav {
  background-color: antiquewhite;
  max-width: fit-content;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 16px;
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 10px 0;
  border: 1px solid #ccc;
  border-radius: 8px;
 }
.logo{
  font-size: 24px;
  font-weight: bold;
  color: #333;
  text-decoration: none;
  position: absolute;
  left: 10px;
  top: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.menu-button {
  background-color: transparent;
  border: none;
  font-size: 24px;
  cursor: pointer;
  padding: 10px;
  margin: 10px;
  color: #333;
  transition: color 0.3s ease-in-out;
  &:hover {
    color: #555;
  }
}
@media screen and (max-width: 768px) {
  .menu-button {
    display: block;
  }
}
