body {
  margin: 0;
  font-family: Inter, system-ui, sans-serif;
  background: #F9FAFB;
  color: var(--text-main);
}

/* src/styles/globals.css */
:root {
  --space-xs: 4px;
  --space-sm: 8px;
  --space-md: 16px;
  --space-lg: 24px;
  --space-xl: 32px;
  --space-xxl: 48px;
}
