.card-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr)); 
  gap: var(--space-md);
  border: 1px solid black;
  width: 100%;
  margin: 0 auto;
}

@media (min-width: 768px) {
  .card-grid {
    /* grid-template-columns: repeat(auto-fit, minmax(300px, 1fr)); */
    gap: var(--space-lg);
  }
}